.exampleOne{
  font-family: 'Montez', cursive;;
}

.exampleTwo{
  font-family: 'Six Caps', sans-serif;;
}

.exampleThree{
  font-family: 'Yantramanav', sans-serif;;
}

.exampleFour{
  font-family: 'BenchNine', sans-serif;;
}

.exampleFive{
  font-family: 'Josefin Sans', sans-serif;;
}

.exampleSix{
  font-family: 'Open Sans Condensed', sans-serif;;
}

.exampleSeven{
  font-family: 'Roboto Condensed', sans-serif;;
}

.exampleEight{
  font-family: 'Lato', sans-serif;;
}
