html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: KlinicSlab;
  src: url("../fonts/KlinicSlabLightIt.otf") format("opentype"); }

@font-face {
  font-family: Haymaker;
  src: url("../fonts/Haymaker.ttf"); }

@font-face {
  font-family: Cubano;
  src: url("../fonts/Cubano-Regular.otf"); }

@font-face {
  font-family: Oilcan;
  src: url("../fonts/Oil Can.ttf"); }

* {
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif; }

body {
  background: #EDEDF3;
  background-position: 50% 51.5555555%;
  background-size: cover;
  background-repeat: no-repeat; }

header.head {
  display: block;
  background: #ffffff;
  width: 100%;
  height: 39px;
  position: fixed;
  /* z-index: 0; */
  /* float: right; */
  padding: 0px 0 15px;
  border-bottom: 1px solid lightcoral; }
  header.head ul {
    height: 40px;
    padding: 10px 0;
    border-right: 2px solid #4b5f6f;
    margin-top: -1px; }
  header.head ul.iconRight {
    float: right;
    border-left: 2px solid #4b5f6f;
    border-right: 2px solid #4b5f6f;
    border-right: none; }
    header.head ul.iconRight :hover {
      color: none;
      text-decoration: underline;
      background: none; }
      header.head ul.iconRight :hover li {
        width: 25%; }
    header.head ul.iconRight img {
      width: 28px;
      border: 0;
      height: 26px;
      margin: -3.5px 0px 0px 15px; }
  header.head ul.navTop {
    display: -webkit-inline-box; }

.navHead {
  height: 2.4em;
  box-shadow: 0px -10px 45px 0 lightcoral;
  width: 100%; }
  .navHead ul {
    display: -webkit-inline-box;
    list-style-type: none; }
    .navHead ul li a {
      font-family: Cubano;
      text-decoration: none;
      color: #4b5f6f;
      padding: 0 20px; }
    .navHead ul li a:hover {
      color: lightcoral;
      height: 10px;
      transition: all 0.5s ease; }

@media screen and (max-width: 480px) {
  header.head {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    header.head::after {
      clear: both;
      content: "";
      display: table; }
    header.head:last-child {
      margin-right: 0; }
    header.head ul.iconRight {
      height: 33px;
      display: -webkit-inline-box;
      margin-top: -17px;
      box-shadow: 0px 3px 67px -12px #ccc;
      padding: 10px 5px 0 20px; }
      header.head ul.iconRight img {
        margin: -8.5px 0px 0px 12px; }
    header.head li {
      width: 25%; } }

@media screen and (max-width: 480px) {
  header.head ul {
    padding: 10px 10px 0 15px;
    width: 100%; } }

@media screen and (max-width: 480px) {
  .navHead ul {
    display: -webkit-inline-box;
    width: 17%;
    border-right: none;
    list-style-type: none; }
    .navHead ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0 5px; }
    .navHead ul li a:hover {
      color: #ABC278;
      text-decoration: underline;
      background: #fff;
      height: 10px;
      transition: all 0.5s ease; } }

.mainWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; }

main {
  margin-top: 0px;
  margin-bottom: 100px; }

.top {
  height: 270px;
  padding-top: 60px; }
  .top h1 {
    font-family: KlinicSlab;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 2em;
    padding: 10px 0 0px 0;
    color: #4b5f6f; }

@keyframes pulse {
  0% {
    background-color: #212121; }
  100% {
    background-color: rgba(150, 180, 168, 0.68);
    color: #212121;
    border: 1px solid #9BB961; } }

.profPic {
  background-image: url("../imgs/me22.jpg");
  background-position: 50% 99.555555%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0%;
  width: 20%;
  height: 100%;
  margin-right: 20px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px; }

.break1 {
  max-width: 100%;
  height: 400px;
  background-image: url("../imgs/pine_path.jpg");
  background-position: 50% 49.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10em; }

.break2 {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  background-position: 71% 91%;
  background-size: inherit;
  background-repeat: no-repeat;
  padding: 50px;
  border: none; }

.About2 {
  width: auto;
  background: rgba(75, 86, 82, 0.9);
  color: #fff;
  height: auto;
  border: none;
  text-align: justify; }
  .About2 h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px; }

.About2 p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 27.2px;
  padding: 0px 30px;
  font-family: KlinicSlab;
  text-align: -webkit-auto;
  margin: 10px 0 20px; }
  .About2 p:last-child {
    margin-right: 0; }

.audio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  border: none;
  background: #fff;
  height: 30em; }
  .audio:last-child {
    margin-right: 0; }
  .audio .soundcloudWrap {
    margin: 10px; }
  .audio h2, .audio p {
    color: #4b5f6f; }
  .audio p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right; }
  .audio h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: #4b5f6f;
    text-align: right; }
  .audio a {
    text-decoration: none; }
    .audio a :hover {
      transition: all 0.5s ease;
      color: lightcoral; }

.skillz {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border: none;
  background: #fff;
  height: 10em;
  margin-bottom: 1em; }
  .skillz:last-child {
    margin-right: 0; }
  .skillz .soundcloudWrap {
    margin: 10px; }
  .skillz h2, .skillz p {
    color: #4b5f6f; }
  .skillz p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right; }
  .skillz h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: #4b5f6f;
    text-align: right; }
  .skillz a {
    text-decoration: none; }
    .skillz a :hover {
      transition: all 0.5s ease;
      color: lightcoral; }

.thrillz {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  border: none;
  background: #fff;
  height: 20em;
  margin-bottom: 1em; }
  .thrillz:last-child {
    margin-right: 0; }
  .thrillz .soundcloudWrap {
    margin: 10px; }
  .thrillz h2, .thrillz p {
    color: #4b5f6f; }
  .thrillz p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right; }
  .thrillz h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: #4b5f6f;
    text-align: right; }
  .thrillz a {
    text-decoration: none; }
    .thrillz a :hover {
      transition: all 0.5s ease;
      color: lightcoral; }
  .thrillz ul {
    margin-right: 10px;
    font-size: 18.4px;
    display: block;
    text-align: right;
    margin-top: 0;
    list-style-type: none; }
    .thrillz ul li {
      font-family: KlinicSlab;
      color: #4b5f6f; }
