@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
// $visual-grid:true;
@import "../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: KlinicSlab;
  src: url('../fonts/KlinicSlabLightIt.otf') format("opentype");
}

@font-face {
  font-family: Haymaker;
  src: url('../fonts/Haymaker.ttf');
}

@font-face {
  font-family: Cubano;
  src: url('../fonts/Cubano-Regular.otf');
}

@font-face {
  font-family: Oilcan;
  src: url('../fonts/Oil Can.ttf');
}

$mobile: new-breakpoint(max-width 480px);
$between: new-breakpoint(max-width 600px);
$tablet: new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 850px);

* {
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
}

body {
  background: #EDEDF3;
  background-image: url('../imgs/pine_path.jpg');
  background-position: 50% 51.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
}

header.head {
  display: block;
  background: rgba(60, 66, 59, .6);
  width: 100%;
  height: 40px;
  margin: 0;
  position: absolute;
  position: fixed;
  z-index: 10;
  float: right;
  padding: 0px 0 15px;
  border-bottom: 1px solid rgba(215, 215, 205, 1);
  ul {
    background: #212121;
    // position: absolute;
    height: 40px;
    padding: 10px 0;
    border-right: 2px solid #A3C278;
    margin-top: -1px;
  }
  ul.iconRight {
    float: right;
    border-left: 2px solid #A3C278;
    border-right: 2px solid #A3C278;
    border-right: none;
    :hover {
      color: none;
      text-decoration: underline;
      background: none;
      // height: 10px;
      // transition: all 0.5s ease;
      li {
        width: 25%;
      }
    }
    img {
      width: 28px;
      border: 0;
      height: 26px;
      margin: -3.5px 0px 0px 15px;
    }
  }
  ul.navTop {
    display: -webkit-inline-box;
  }
}

.navHead {
  width: 100%;
  ul {
    display: -webkit-inline-box;
    list-style-type: none;
    li {
      a {
        font-family: Cubano;
        text-decoration: none;
        color: #fff;
        padding: 0 20px;
      }
      a:hover {
        color: #ABC278;
        text-decoration: underline;
        background: #fff;
        height: 10px;
        transition: all 0.5s ease;
      }
    }
  }
}

header.head {
  @include media ($tablet) {
    ul.iconRight {
      height: 134px;
      display: inline-block;
      img {
        margin: -3.5px -5px 3px 0px;
      }
    }
  }
}

header.head {
  @include media($mobile) {
    @include outer-container;
    @include span-columns(12);
    ul.iconRight {
      height: 33px;
      display: -webkit-inline-box;
      padding: 64.3px auto;
      margin-top: -17px;
      box-shadow: 0px 3px 67px -12px #ccc;
      img {
        margin: -8.5px 0px 0px 10px;
      }
    }
    li {
      width: 25%;
    }
  }
}

header.head {
  @include media($mobile) {
    ul {
      padding: 10px 10px 0 15px;
      width: 100%;
    }
  }
}

.navHead {
  @include media($mobile) {
    ul {
      display: -webkit-inline-box;
      width: 17%;
      border-right: none;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          color: #fff;
          padding: 0 5px;
          // font-size: 15px;
          // margin-left: 10px;
        }
        a:hover {
          color: #ABC278;
          text-decoration: underline;
          background: #fff;
          height: 10px;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.mainWrap {
  @include outer-container;
}

main {
  margin-top: 180px;
  margin-bottom: 100px;
}

.top {
  @include outer-container;
  height: 270px;
  padding-top: 60px;
  // box-shadow: -68px -23px 47px 41px #212121;
  h1 {
    // box-shadow: 1130px -2px 5px 43px #212121;
    background: rgba(60, 66, 59, .75);
    border-top: 1px dotted rgba(174, 172, 142, .3);
    border-bottom: 1px dotted rgba(174, 172, 142, .3);
    font-family: Oilcan;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 110px;
    padding: 10px 0 0px 0;
    color: #fff;
  }
}

.profPic {
  @include shift(4);
  background-image: url('../imgs/me.jpeg');
  background-position: 50% 33.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 32.5%;
  height: 150%;
  margin-right: 20px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  // box-shadow: 5px 20px 72px -5px #212121;
}

.profPic:last-child {
  margin-top: 10px;

}

.Github .imgDescription:last-child {
  padding: 60px 0 0 0;
}

// .profPic2 {
//   background-image: url('../imgs/me2.jpg');
//   background-position: 50% 39.5555555%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   border-radius: 1.5555%;
//   width: 196px;
//   height: 245px;
//   margin-right: 20px;
//   float: left;
// }

// .deerPic {
//   @include span-columns(3);
//   background-image: url('../imgs/calc.jpg');
//   background-position: 50% 49.5555555%;
//   background-size: cover;
// }

.break1 {
  max-width: 100%;
  height: 400px;
  background-image: url('../imgs/pine_path.jpg');
  background-position: 50% 49.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-flex;
  padding: 30px;
}

.break2 {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  background-image: url('../imgs/rocks.jpg');
  background-position: 71% 91%;
  background-size: inherit;
  background-repeat: no-repeat;
  padding: 50px;
  border: 10px solid #212121;
}

.About {
  width: auto;
  background: rgba(75, 86, 82, .9);
  color: #fff;
  @include span-columns(6 of 12);
  height: auto;
  border: 2px solid #9cd654;
  text-align: justify;
  @include outer-container;
  h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px;
  }
  ul {
    @include span-columns(6);
    font-size: 27.4px;
    display: block;
    margin-top: 0;
    li {
      font-family: KlinicSlab;
    }
  }
}

.About2 {
  width: auto;
  background: rgba(75, 86, 82, .9);
  color: #fff;
  @include span-columns(6 of 12);
  height: auto;
  border: 2px solid #9cd654;
  text-align: justify;
  @include outer-container;
  h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px;
  }
}

.About2 {
  p {
    @include span-columns(12);
    font-size: 27.2px;
    padding: 0px 30px;
    font-family: KlinicSlab;
    text-align: -webkit-auto;
    margin: 10px 0 20px;
  }
}

.About {
  p {
    padding: 0px 30px;
    font-size: 15px;
    text-align: justify;
  }
}

.Resume {
  @include outer-container;
  @include span-columns(5 of 12);
  @include shift(1);
  // background: rgba(52, 61, 55, .9);
  border: 2px solid #9cd654;
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: #fff;
      background: #212121
    }
  }
  h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px;
    color: #fff;
  }
  h5 {
    color: #fff;
    text-align: center;
    margin: -7px;
    font-size: 12px;
  }
  img {
    border-radius: 0.9555%;
    width: 92%;
    opacity: 0.8;
    border: none;
    height: auto;
    /* margin-right: 20px; */
    margin: 10px 10px;
    /* float: left; */
  }
  img:hover {
    transition: all 0.5s ease;
    border: 30px solid #ABC278;
  }
}

.Github {
  @include span-columns(12 of 12);
  border: 2px solid #9cd654;
  background: rgba(52, 61, 55, 1);
  img {
    border-radius: 0.9555%;
    width: 22%;
    opacity: 0.8;
    border: none;
    /* height: auto; */
    /* margin-right: 20px; */
    margin: 10px 10px;
    /* float: left; */
  }
  h2 {
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    margin: 15px;
    background: rgba(39, 47, 41, 0.53);
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    // margin: 15px 50px 0 50px;
  }
  h3 {
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    margin: 15px 80px;
    background: rgba(39, 47, 41, 0.53);
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 20px;
    // margin: 15px 50px 0 50px;
  }
  h5 {
    color: #fff;
    text-align: center;
    margin: -7px;
    font-size: 12px;
  }
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: #fff;
      background: #212121;
      // padding: 100px 0;
    }
  }
  ul {
    @include outer-container;
    margin-left: -30px;
    list-style-type: none;
    a {
      @include span-columns(12);
      width: 100%;
      text-align: center;
      font-family: KlinicSlab;
      color: #fff;
      font-size: 30px;
      border: 1.5px solid #fff;
      margin: 10px 0px;
      padding: 1;
      background: rgba(75, 86, 82, .9);
      /* border: none; */
    }
    a:hover {
      font-family: KlinicSlab;
      color: #80AF4A;
      font-size: 30px;
      transition: all ease 0.3s;
      // text-decoration: underline;
    }
    li {
      // width: 40%;
      @include span-columns(6);
      margin-right: 1.15765%;
      // margin-left: 4.3%;
      // border: 5px solid #92B961;
      // background: #fff;
      margin-bottom: 5%;
      h3 {
        text-align: center;
        background: rgba(75, 86, 82, 0.4);
      }
    }
  }
}

.Github {
  .imgWrap {
    position: relative;
  }
  .imgDescription {
    @include span-columns(8);
    @include shift(2);
    position: absolute;
    top: 80px;
    height: 400px;
    font-size: 30px;
    bottom: 10px;
    left: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    span:hover {
      color: green;
      padding: 100px 0;
    }
    :last-child {
      color: #212121;
    }
  }
  .imgWrap:hover .imgDescription {
    visibility: visible;
    transition: all 0.5s ease;
    opacity: 1;
  }
  img {
    @include span-columns(8);
    @include shift(2);
    height: 400px;
  }
  img:hover {
    transition: all 0.9s ease;
    opacity: 1;
    background: #fff;
  }
}

.audio {
  @include span-columns(5 of 12);
  border: 2px solid #9cd654;
  background: rgba(52, 61, 55, 1);
  .soundcloudWrap {
    margin: 10px;
  }
  h2, p {
    color: #fff;
  }
  p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 19.33px;
    // margin-bottom: 38px;
  }
  h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px;
    color: #fff;
  }
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: #fff;
      background: #212121;
    }
  }
}

.Contact {
  @include outer-container;
  // display: inline-block;
  h6 {
    display: -webkit-inline-box;
    font-family: KlinicSlab;
    // box-shadow: -3px 10px 3px -9px #9BB961;
    font-size: 30px;
    // border-left: 1px solid #ABC278;
    @include span-columns(10);
    margin-bottom: 0;
    margin-top: 40px;
    span {
      font-family: KlinicSlab;
    }
    a {
      color: #B1C278;
    }
  }
  img {
    @include shift(4);
    border-radius: 0.9555%;
    width: 34.2%;
    border: none;
    height: auto;
    margin-top: 25px;
    /* margin-right: 20px; */
    /* margin: 10px 10px; */
    /* float: left; */
  }
}

.contactWrap {
  @include span-columns(12 of 12);
  @include shift(1);
  background: rgba(75, 86, 82, .5);
  // position: absolute;
  // display: inline-block;
  color: #fff;
  border: 2px solid #ABC278;
  height: auto;
  margin-top: 25px;
  // padding: 0px 24px;
  // margin-bottom: 25px;
  padding: 0 50px;
  @include outer-container;
  h2 {
    font-family: Cubano;
    font-size: 48px;
    padding: 10px;
    background: rgba(33, 33, 33, 0.68);
    border: 1px solid #fff;
    animation: pulse 4s infinite;
    margin-bottom: 0;
    text-align: center;
  }
  @keyframes pulse {
    0% {
      background-color: #212121;
    }
    100% {
      background-color: rgba(150, 180, 168, 0.68);
      color: #212121;
      border: 1px solid #9BB961;
    }
  }
}

.contactWrap {
  @include media($tablet) {
    @include span-columns(11 of 12);
    display: inline-block;
    border: none;
  }
}

.contactWrap {
  @include media($between) {
    @include span-columns(11 of 12);
    display: inline-block;
    border: none;
  }
}

.contactWrap {
  @include media($mobile) {
    @include span-columns(11 of 12);
    // margin-bottom: 50px;
    display: inline-block;
    border: none;
    h2 {
      font-size: 20px;
    }
  }
}

footer {
  display: block;
  background: #ccc;
  width: 100%;
}

.navFoot {
  @include outer-container;
  width: 100%;
  ul.iconRightBottom {
    display: -webkit-inline-box;
    list-style-type: none;
    float: left;
    width: 100%;
    // margin: 0 70px;
    // border-left: 2px solid #A3C278;
    // border-right: none;
    a {
      font-family: Haymaker;
      color: none;
      text-decoration: none;
      background: none;
      // height: 10px;
      // transition: all 0.5s ease;
    }
    img {
      width: 50%;
      border: 0;
      height: auto;
      margin: -3.5px 0px 0px 30px;
    }
    li {
      width: 25%;
    }
  }
}



// tablet //
.mainWrap {
  @include media($tablet) {
    @include outer-container;
    float: none;
  }
}


main {
  @include media($tablet) {
    @include outer-container;
    // margin-top: -21px;
    // background-image: url('../imgs/pine_path.jpg');
    // background-position: 100% -38.444445%;
    /* background-size: cover; */
    background-repeat: no-repeat;
  }
}

.About {
  @include media($tablet) {
    @include span-columns(12);
    p {
      font-size: 16px;
    }
  }
}

.About2 {
  @include media($tablet) {
    @include span-columns(12);
    margin-top: 33px;
    p {
      font-size: 26px;
    }
  }
}

.break1 {
  @include media($tablet) {
    @include span-columns(12);
    height: auto;
  }
}

.break2 {
  @include media($tablet) {
    @include span-columns(12);
    height: auto;
    padding: 20px;
  }
}

.top {
  @include media($tablet) {
    @include span-columns(12);
    float: none;
    box-shadow: none;
    // background-image: url('../imgs/pine_path.jpg');
    // background-position: 100% 0.055555%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    box-shadow: none;
    h1 {
      @include span-columns(12);
      color: rgba(215, 215, 205, .8);
      margin: 20px 0;
      font-size: 41px;
      border: 1px solid #212121;
    }
  }
}

.top {
  @include media($mobile) {
    h1 {
      margin-left: 0;
      font-size: 32px;
      margin-top: 25px;
    }
  }
}

.Resume {
  @include media($tablet) {
    @include span-columns(6 of 12);
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(52, 61, 55, .8);
  }
}

.Github {
  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1);
    border: 1px solid #D7D7CD;
    background: rgba(52, 61, 55, 1);
    img {
      @include span-columns(8);
      @include shift(2);
      height: 400px;
    }
    ul {
      @include outer-container;
      list-style-type: none;
      a {
        text-align: center;
        font-size: 30px;
      }
      li {
        @include span-columns(11);
        margin-bottom: 5%;
        h3 {
          text-align: center;
        }
      }
    }
  }
}

.Github {
  @include media($between) {
    @include span-columns(12 of 12);
    @include shift(0);
    border: 1px solid #D7D7CD;
    background: rgba(52, 61, 55, 1);
    ul {
      @include outer-container;
      list-style-type: none;
      a {
        text-align: center;
        // color: #fff;
        // font-size: 20px;
      }
      li {
        @include span-columns(11);
        margin-bottom: 5%;
        h3 {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}


.audio {
  @include media($tablet) {
    @include span-columns(6 of 12);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #D7D7CD;
    background: rgba(52, 61, 55, 1);
  }
}

.Contact {
  @include media($tablet) {
    @include shift(1);
    margin-top: 20px;
    img {
      @include shift(3);
    }
    h2 {
      font-size: 34px;
    }
    h6 {
      font-size: 24px;
      margin: 20px 10px;
    }
  }
}

.profPic {
  @include media($tablet) {
    @include span-columns(3);
    @include shift(4);
    margin-top: 0;
    background-position: 50% 28.5555555%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 70%;
    width: 31%;
    height: 100%;
    margin-right: 20px;
    // box-shadow: 5px 20px 72px -5px #212121;
  }
}

.navFoot {
  @include media($tablet) {
    width: 100%;
    ul.iconRightBottom {
      margin: 0;
      img {
        margin: 0.5px 0px 0px 25px;
      }
    }
  }
}

.navFoot {
  @include media($between) {
    width: 100%;
    ul.iconRightBottom {
      margin: 0;
      img {
        // margin: 0.5px 0px 0px 0px;
      }
    }
  }
}


// mobile //

.mainWrap {
  @include media($mobile) {
    @include outer-container;
    // float: none;
  }
}
//
//
main {
  @include media($mobile) {
    @include outer-container;
    margin-top: 0;
  }
}

.About {
  @include media($mobile) {
    @include span-columns(12);
    ul {
      font-size: 14.9px;
      margin-left: -5px;
    }
    p {
      font-size: 14px;
      padding: 10px 20px;
      text-align: justify;
    }
  }
}


.About2 {
  @include media($mobile) {
    @include span-columns(12);
    p {
      font-size: 15px;
      padding: 10px 20px;
      text-align: justify;
    }
  }
}

.break1 {
  @include media($mobile) {
    @include span-columns(12);
    height: auto;
  }
}

.break2 {
  @include media($mobile) {
    @include span-columns(12);
    height: auto;
  }
}


.Resume {
  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
    margin-bottom: 20px;
    margin-top: 20px;
    background: rgba(52, 61, 55, .8);
    border: 1px solid #D7D7CD;
  }
}

.Github {
  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #D7D7CD;
    background: rgba(52, 61, 55, 1);
    img {
      @include span-columns(12);
      @include shift(0);
      height: 300px;
      width: 100%;
    }
    ul {
      @include outer-container;
      @include span-columns(12);
      list-style-type: none;
      margin-left: -20px;
      li {
        @include span-columns(12);
        @include shift(0);
        margin-left: 0;
        margin-bottom: 5%;
        a {
          border: none;
          background: none;
        }
      }
    }
    .imgDescription {
      position: absolute;
      top: 25%;
      height: 150px;
      font-size: 30px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      visibility: hidden;
      opacity: 0;
      text-align: center;
    }
  }
}

.audio {
  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
    border: 1px solid #D7D7CD;
    background: rgba(52, 61, 55, 1);
    p {
      font-size: 15px;
    }
  }
}

.Contact {
  @include media($mobile) {
    h2 {
      font-size: 23px;
      text-align: left;
    }
    h6 {
      font-size: 14px;
      margin: 20px auto;
    }
  }
}

.profPic {
  @include media($mobile) {
    @include span-columns(3);
    @include shift(3);
    margin-top: 10px;
    background-position: 50% 28.5555555%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 3px 20px 12px -18px #212121;
    width: 47.5%;
    height: 75%;
    margin-right: 20px;
  }
}

.navFoot {
  @include media($mobile) {
    width: 100%;
    // ul.iconRightBottom img {
    //   width: 62%;
    // }
    ul.iconRightBottom li {
      width: 20%;
    }
  }
}
