@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
// $visual-grid:true;
@import "../bower_components/neat/app/assets/stylesheets/neat";

@font-face {
  font-family: KlinicSlab;
  src: url('../fonts/KlinicSlabLightIt.otf') format("opentype");
}

@font-face {
  font-family: Haymaker;
  src: url('../fonts/Haymaker.ttf');
}

@font-face {
  font-family: Cubano;
  src: url('../fonts/Cubano-Regular.otf');
}

@font-face {
  font-family: Oilcan;
  src: url('../fonts/Oil Can.ttf');
}

$mobile: new-breakpoint(max-width 480px);
$between: new-breakpoint(max-width 600px);
$tablet: new-breakpoint(max-width 768px);
$desktop: new-breakpoint(min-width 850px);

* {
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
}

body {
  background: #EDEDF3;
  // background-image: url('../imgs/pine_path.jpg');
  background-position: 50% 51.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
}

header.head {
  display: block;
  background: #ffffff;
  width: 100%;
  height: 39px;
  position: fixed;
  /* z-index: 0; */
  /* float: right; */
  padding: 0px 0 15px;
  border-bottom: 1px solid lightcoral;;
  ul {
    // background: #212121;
    // position: absolute;
    height: 40px;
    padding: 10px 0;
    border-right: 2px solid rgba(75, 95, 111, 1);
    margin-top: -1px;
  }
  ul.iconRight {
    float: right;
    border-left: 2px solid rgba(75, 95, 111, 1);
    border-right: 2px solid rgba(75, 95, 111, 1);
    border-right: none;
    :hover {
      color: none;
      text-decoration: underline;
      background: none;
      // height: 10px;
      // transition: all 0.5s ease;
      li {
        width: 25%;
      }
    }
    img {
      width: 28px;
      border: 0;
      height: 26px;
      margin: -3.5px 0px 0px 15px;
    }
  }
  ul.navTop {
    display: -webkit-inline-box;
  }
}

.navHead {
  height: 2.4em;
  box-shadow: 0px -10px 45px 0 lightcoral;
  width: 100%;
  ul {
    display: -webkit-inline-box;
    list-style-type: none;
    li {
      a {
        font-family: Cubano;
        text-decoration: none;
        color: rgba(75, 95, 111, 1);
        padding: 0 20px;
      }
      a:hover {
        color: lightcoral;
        height: 10px;
        transition: all 0.5s ease;
      }
    }
  }
}

// header.head {
//   @include media ($tablet) {
//     ul.iconRight {
//       height: 134px;
//       display: inline-block;
//       img {
//         margin: -3.5px -5px 3px 0px;
//       }
//     }
//   }
// }

header.head {
  @include media($mobile) {
    @include outer-container;
    @include span-columns(12);
    ul.iconRight {
      height: 33px;
      display: -webkit-inline-box;
      // padding: 64.3px auto;
      margin-top: -17px;
      box-shadow: 0px 3px 67px -12px #ccc;
      padding: 10px 5px 0 20px;
      img {
        margin: -8.5px 0px 0px 12px;
      }
    }
    li {
      width: 25%;
    }
  }
}

header.head {
  @include media($mobile) {
    ul {
      padding: 10px 10px 0 15px;
      width: 100%;
    }
  }
}

.navHead {
  @include media($mobile) {
    ul {
      display: -webkit-inline-box;
      width: 17%;
      border-right: none;
      list-style-type: none;
      li {
        a {
          text-decoration: none;
          color: #fff;
          padding: 0 5px;
          // font-size: 15px;
          // margin-left: 10px;
        }
        a:hover {
          color: #ABC278;
          text-decoration: underline;
          background: #fff;
          height: 10px;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.mainWrap {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

main {
  margin-top: 0px;
  margin-bottom: 100px;
}

.top {
  // @include outer-container;
  height: 270px;
  padding-top: 60px;
  // box-shadow: -68px -23px 47px 41px #212121;
  h1 {
    @keyframes pulse {
      0% {
        background-color: #212121;
      }
      100% {
        background-color: rgba(150, 180, 168, 0.68);
        color: #212121;
        border: 1px solid #9BB961;
      }
    }
    // box-shadow: 1130px -2px 5px 43px #212121;
    // background: rgba(60, 66, 59, .75);
    // border-top: 1px dotted rgba(174, 172, 142, .3);
    // border-bottom: 1px dotted rgba(174, 172, 142, .3);
    font-family: KlinicSlab;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 2em;
    padding: 10px 0 0px 0;
    color: rgba(75, 95, 111, 1);
  }
}

.profPic {
  // @include shift(4);
  background-image: url('../imgs/me22.jpg');
  background-position: 50% 99.555555%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0%;
  width: 20%;
  height: 100%;
  margin-right: 20px;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  // box-shadow: 5px 20px 72px -5px #212121;
}



.break1 {
  max-width: 100%;
  height: 400px;
  background-image: url('../imgs/pine_path.jpg');
  background-position: 50% 49.5555555%;
  background-size: cover;
  background-repeat: no-repeat;
  // display: inline-flex;
  padding: 10em;
}

.break2 {
  float: left;
  display: block;
  width: 100%;
  height: auto;
  // background-image: url('../imgs/rocks.jpg');
  background-position: 71% 91%;
  background-size: inherit;
  background-repeat: no-repeat;
  padding: 50px;
  border: none;
}

.About2 {
  width: auto;
  background: rgba(75, 86, 82, .9);
  color: #fff;
  // @include span-columns(6 of 12);
  height: auto;
  border: none;
  text-align: justify;
  // @include outer-container;
  h2 {
    font-family: Cubano;
    text-align: center;
    border: 2px solid #fff;
    font-size: 40px;
    margin: 20px;
  }
}

.About2 {
  p {
    @include span-columns(12);
    font-size: 27.2px;
    padding: 0px 30px;
    font-family: KlinicSlab;
    text-align: -webkit-auto;
    margin: 10px 0 20px;
  }
}


.audio {
  @include span-columns(5 of 12);
  border: none;
  background: #fff;
  height: 30em;
  .soundcloudWrap {
    margin: 10px;
  }
  h2, p {
    color: rgba(75, 95, 111, 1);
  }
  p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right;
    // margin-bottom: 38px;
  }
  h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: rgba(75, 95, 111, 1);
    text-align: right;
  }
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: lightcoral;
    }
  }
}

.skillz {
  @include span-columns(4 of 12);
  border: none;
  background: #fff;
  height: 10em;
  margin-bottom: 1em;
  .soundcloudWrap {
    margin: 10px;
  }
  h2, p {
    color: rgba(75, 95, 111, 1);
  }
  p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right;
    // margin-bottom: 38px;
  }
  h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: rgba(75, 95, 111, 1);
    text-align: right;
  }
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: lightcoral;
    }
  }
}

.thrillz {
  @include span-columns(3 of 12);
  border: none;
  background: #fff;
  height: 20em;
  margin-bottom: 1em;
  .soundcloudWrap {
    margin: 10px;
  }
  h2, p {
    color: rgba(75, 95, 111, 1);
  }
  p {
    font-family: KlinicSlab;
    padding: 0 10px;
    font-size: 20px;
    text-align: right;
    // margin-bottom: 38px;
  }
  h2 {
    font-family: Cubano;
    text-align: center;
    border: none;
    font-size: 30px;
    margin: 20px;
    color: rgba(75, 95, 111, 1);
    text-align: right;
  }
  a {
    text-decoration: none;
    :hover {
      transition: all 0.5s ease;
      color: lightcoral;
    }
  }
  ul {
    margin-right: 10px;
    font-size: 18.4px;
    display: block;
    text-align: right;
    margin-top: 0;
    list-style-type: none;
    li {
      // padding: 0.4em;
      font-family: KlinicSlab;
      color: rgba(75, 95, 111, 1);
    }
  }
}
